
*{
    margin:0px;
    padding:0px;
}
#registration-heading{
    text-align: center;
    background: cornflowerblue;
    color:white;
    padding:30px;
    font-family: 'Baloo 2', cursive;
}

#myform {
    padding:20px;
    font-family: 'Baloo 2', cursive;
}
#myform input::placeholder{
    color:rgba(0,0,0,0.5);
    font-family: 'Baloo 2', cursive;
}
#myform label {
    margin-top:10px;
    font-family: 'Baloo 2', cursive;
    color:cornflowerblue;
}
#myform input{
    display: block;
    width:100%;
    padding:10px;
    outline:none;
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 2px #cccccc;
}
#myform input:focus{
    border:1px solid cornflowerblue;
}
#myform select{
    display: block;
    width:40%;
    outline: none;
    background: cornflowerblue;
    color:white;
    height:30px;
    font-family: 'Baloo 2', cursive;
}
#submit-button{
    display: block;
    margin-top:20px;
    background: cornflowerblue;
    color:white;
    padding:15px;
    font-family: 'Baloo 2', cursive;
    border-radius: 10px;
    outline:none;
}
#submit-button:focus{
    background: darkgreen;
}